{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Let's Make Your Timetable ;)</h1>
    <div id='post-form'>
    <form method="post" novalidate></form>
        {% csrf_token %}
        
        <table>
            {{ form|crispy }}
        </table>
        <a href="{% url 'yourtt' %}">
        <button type="submit"  class="btn btn-primary">Submit</button></a>
    </form>
    </div>
{% endblock %}
{% for item in form %}
    <tr>
        <td>{{item}}</td>
    </tr>
    {% endfor %}